<?xml version="1.0"?>


<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!--<configuration>
	<appSettings>
   <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
 </appSettings>
    <system.web>
		<customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  
    <connectionStrings>
    

     

		<add name="hadafDBEntities1" connectionString="metadata=res://*/provider=System.Data.SqlClient;provider connection string=&quot;Server=172.16.1.18;Database=hadafDB;User Id=sa;Password=123!@#qwe; MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
		<add name="ConnectionString" connectionString="metadata=res://*/provider=System.Data.SqlClient;provider connection string=&quot;Server=172.16.1.18;Database=hadafDB;User Id=sa;Password=123!@#qwe; MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	
	
    
   
  
  
</configuration>-->






<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>
		<pages>
			<controls>
				<add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
			</controls>
		</pages>
		<sessionState timeout="1000"/>
	</system.web>



	


<connectionStrings>
	<add name="hadafDBEntities" connectionString="metadata=res://*/hadafmodel.csdl|res://*/hadafmodel.ssdl|res://*/hadafmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITAPP;initial catalog=hadafDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>

	<system.webServer>

		<modules runAllManagedModulesForAllRequests="true">

			<remove name="UrlRoutingModule"/>

			<add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

		</modules>

		<handlers>

			<add

			  name="UrlRoutingHandler"

			  preCondition="integratedMode"

			  verb="*" path="UrlRouting.axd"

			  type="System.Web.HttpForbiddenHandler, System.Web, 

          Version=2.0.0.0, Culture=neutral, 

          PublicKeyToken=b03f5f7f11d50a3a"/>

		</handlers>

	</system.webServer>

</configuration>