<?xml version="1.0" encoding="utf-8"?>

<!--<configuration>
  <configSections>
    --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    --><!--<add name="hadafDBEntitiesfinish" connectionString="metadata=res://*/projectmodel.csdl|res://*/projectmodel.ssdl|res://*/projectmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=hadafDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    --><!--<add name="hadafDBEntities11" connectionString="metadata=res://*/hadafmodel.csdl|res://*/hadafmodel.ssdl|res://*/hadafmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BBPG-PC;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    --><!--<add name="hadafDBEntities12" connectionString="metadata=res://*/hadafmodel.csdl|res://*/hadafmodel.ssdl|res://*/hadafmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=hadafDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
    --><!--<add name="hadafDBEntities123" connectionString="metadata=res://*/hadafmodel.csdl|res://*/hadafmodel.ssdl|res://*/hadafmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=hadafDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><!--
	 		<add name="hadafDBEntities" connectionString="metadata=res://*/provider=System.Data.SqlClient;provider connection string=&quot;Server=172.16.1.18;Database=hadafDB;User Id=sa;Password=123!@#qwe; MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
	  <add name="ConnectionString" connectionString="metadata=res://*/provider=System.Data.SqlClient;provider connection string=&quot;Server=172.16.1.18;Database=hadafDB;User Id=sa;Password=123!@#qwe; MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>-->





<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>

		<!--<add name="CVDBEntities" connectionString="metadata=res://*/MazumsCvEntityModel.csdl|res://*/MazumsCvEntityModel.ssdl|res://*/MazumsCvEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CVDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="hadafDBEntities11" connectionString="metadata=res://*/hadafmodel.csdl|res://*/hadafmodel.ssdl|res://*/hadafmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITAPP;initial catalog=hadafDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="hadafDBEntities1" connectionString="metadata=res://*/hadafmodel.csdl|res://*/hadafmodel.ssdl|res://*/hadafmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITAPP;initial catalog=hadafDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="hadafDBEntities" connectionString="metadata=res://*/hadafmodel.csdl|res://*/hadafmodel.ssdl|res://*/hadafmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITAPP;initial catalog=hadafDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
	<add name="hadafDBEntities" connectionString="metadata=res://*/hadafmodel.csdl|res://*/hadafmodel.ssdl|res://*/hadafmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ITAPP;initial catalog=hadafDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>



